.form-container__location {
  display: flex;
  align-items: center;
  flex-direction: column;
  .form-update {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.title {
  font-size: 22px;
  margin: 10px;
}
.labels {
  font-size: 20px;
  margin: 5px;
}
.form-update__input {
  font-size: 18px;
  margin: 2px;
  border: 1px solid #065753a6;
  border-radius: 4px;
}
select {
  font-size: 18px;
}
